@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }
  16.6% {
    border-color: orange;
  }
  33.3% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  66.6% {
    border-color: blue;
  }
  83.3% {
    border-color: indigo;
  }
  100% {
    border-color: violet;
  }
}

.hover\:animate-rainbow-border:hover {
  animation: rainbow-border 1s linear infinite;
  border: 1px solid;
  border-color: transparent;
}
